*
{
    margin: 0px;
    padding: 0px;
}

body
{
    border: 2px solid red;
    margin-left: 100px;
    margin-top: 150px;
    margin-right: 150px;
    background-color: antiquewhite;

}
.container
{
    background-color: rgb(113, 209, 209);
    box-shadow: 5px 4px 3px 2px #000;
}

input
{
    background-color: #ddd;
}
.submit_btn
{
    background-color: red;
    border: none;
    border: 2px solid black;
    border-radius: 2px;
    color: white;
}
.submit_btn:hover
{
    background-color: rgb(176, 35, 35);
    color: black;
}
.reset_btn
{
    color: white;
    background-color: blue;
    border: none;
    border: 2px solid black;
    border-radius: 2px;
}

.reset_btn:hover
{
    background-color: rgb(30, 30, 155);
    color: black;
}
